.prod-info {
  background-color: #fff;
  width: 100%;
  border: 1px solid #d7d7d7;
  padding: 26px 29px;
  margin-bottom: 30px;

  &__title {
    color: #263238;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 22px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 30px;
  }

  &__list {

  }

  &__list-item {

  }

  &__subject {

  }

  &__info {

  }

}