.prod-author {
  width: 100%;
  border: 1px solid #d7d7d7;
  padding: 26px 29px;
  margin-bottom: 30px;
  background-color: #fff;

  @include mobile-large {
    padding: 18px 12px;
  }

  @include mobile {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__title {
    color: #263238;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 22px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 30px;
  }

  &__card {
    margin-bottom: 24px;
  }

  &__card-photo {
    width: 73px;
    min-width: 73px;
    height: 63px;
  }

  &__card-info {
    margin-left: 16px;
  }

  &__card-name {
    color: #263238;
    font-size: 18px;
    display: block;
    margin-bottom: 16px;
  }

  &__card-btn {
    display: inline-block;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #707070;
    font-size: 13px;
    padding: 7px 11px;
    transition: all .2s ease-out;
    white-space: nowrap;
    
    &:hover {
      background-color: #455a64;
      color: #fff;
    }
  }

  &__batch {
    & + & {
      margin-left: 9px;
    }
  }
}