.header {
  $root: &;

  &--user {
    #{$root} {
      &__inner {
        @include mobile-large {
          flex-direction: column;
          padding: 24px 0 0;
          height: auto;
        }
      }

      &__right-s {
        @include mobile-large {
          margin-top: 32px;
          justify-content: space-between;
        }

        @include mobile {
          justify-content: center;
        }
      }

      &__notify {
        @include mobile-large {
          margin: 0 -8px;
        }

        @include mobile {
          position: relative;
          width: 100%;
        }
      }

      &__actions {
        @include mobile-large {
          margin-bottom: 16px;
        }

        @include  mobile {
          display: none;
        }
      }
    }
  }

  &__inner  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;

    @include mobile {
      flex-direction: column;
      padding: 24px 0 0;
      height: auto;
    }
  }

  &__logo {
    max-width: 197px;
  }

  &__right-s {
    display: flex;
    align-items: center;
    align-self: stretch;
    position: relative;

    @include mobile-large {
      margin-top: 32px;
      justify-content: center;
    }
  }

  &__help {
    font-size: 15px;

    @include tablet {
      display: none;
    }
  }

  &__label-red {
    color: #e74c3c;
  }

  &__notify {
    display: flex;
    align-self: stretch;
    align-items: center;
    margin: 0 26px;
  }

  &__notify-wrap {
    display: flex;
    align-items: center;
    align-self: stretch;
    position: relative;

    @include mobile-large {
      position: static;
      padding-bottom: 16px;
    }

    &:hover {
      .cart-drop-down,
      .mail-drop-down,
      .notify-drop-down {
        display: block;
      }
    }
  }

  &__notify-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    cursor: pointer;
    margin: 0 8px;

    .fas {
      font-size: 12px;
      color: #a0a0a0;
    }
  }

  &__notif {
    #{$root} {
      &__item-number {
        background-color: #fcb322;
      }
    }
  }
  &__mail {
    #{$root} {
      &__item-number {
        background-color: #ef6c00;
      }
    }
  }

  &__cart {
    #{$root} {
      &__item-number {
        background-color: #e74c3c;
      }
    }
    
    &--user {
      #{$root} {
        &__item-number {
          background-color: #95c85a;
        }
      }
    }
  }

  &__item-number {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //actions
  &__actions {
    display: flex;
    margin: 0 -4px;

    &--anon {

      @include mobile-large {
        padding-bottom: 16px;
      }
    }

    #{$root} {
      &__btn {
        width: 72px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        border-radius: 4px;
        margin: 0 4px;

        &--green {
          background-color: #8bc34a;
        }

        &--red {
          background-color: #e74c3c;
        }
      }
    }
  }
}