.author {
  background-color: #f4f6f5;
  padding: 134px 0;

  &__bg-gray {
    background-color: #b5b5b5;
    box-shadow: 0 0 46px rgba(181, 181, 181, .75);
    padding: 110px 30px;
    max-width: 1104px;

    @include laptop {
      padding: 100px 30px;
    }

    @include tablet {
      padding: 90px 30px;
    }

    @include mobile-large {
      padding: 80px 20px;
    }

    @include mobile {
      padding: 60px 30px;
    }
  }

  &__bg-green {
    background-color: #8bc34a;
    padding: 80px 15px;
    max-width: 654px;

    @include tablet {
      padding: 70px 15px;
    }
    @include mobile {
      padding: 50px 15px;
    }
  }

  &__text {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;

    @include laptop {
      font-size: 26px;
    }
    @include mobile-large {
      font-size: 22px;
    }
  }

  &__text-top {
    font-weight: 400;
  }

  &__text-bottom {
    font-weight: 700;
  }

  &__btn {
    color: #263238;
    font-size: 18px;
    font-weight: 400;
    padding: 26px;
    background-color: #fff;
    margin-left: 22px;
    white-space: nowrap;
    max-width: 226px;
    transition: all 0.3s ease-out;

    &:hover {
      box-shadow: 4px -8px 12px rgba(255, 255, 255, 0.7);
      font-weight: 500;
    }

    @include laptop {
      padding: 24px 26px;
    }

    @include mobile-large {
      padding: 18px 20px;
    }

    @include mobile {
      margin-left: 0;
      margin-top: 20px;
      padding: 18px 48px;
    }
  }

}