body {
  font-family: 'Roboto', sans-serif;
  color: #546e7a;
}

.container-fluid {
  padding: 0 15px;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.link-decor-on-hover {
  &:hover {
    text-decoration: underline !important;
  }
}

.text-white {
  color: #fff !important;
}

.title {
  color: #263238;
  font-size: 32px;
  font-weight: 700;
  padding: 0 10px;
  line-height: 1.2;
  text-align: center;

  @include tablet{
    font-size: 30px;
  }

  @include mobile-large {
    font-size: 28px;
  }

  @include mobile {
    font-size: 25px;
    padding: 0 5px;
  }
}

.default-section {
  padding: 120px 0;

  @include tablet {
    padding: 100px 0;
  }

  @include mobile-large {
    padding: 80px 0;
  }
  @include mobile {
    padding: 60px 0;
  }
}

.text-center {
  text-align: center;
}

.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
